<ul class="directory-tree">
    <% tree.each do |item| %>
    <li class="<%= item[:type] %>">
        <span class="name"><%= item[:name] %></span>
        <% if item[:type] == 'directory' && item[:children]&.any? %>
        <%= render 'shared/directory_tree', tree: item[:children] %>
        <% end %>
    </li>
    <% end %>
</ul>